<!doctype html>
<html>
<head>
    <title>Create New Student</title>
</head>

<body>

  <form action="/student-add" method="Post">
      <label>Enter New Student first name:
          <input type="text" name="firstname">
      </label>
      <br>
      <label>Enter New Student last name:
          <input type="text" name="lastname">
      </label>
      <br>
      <label>Enter New Student github
          <input type="text" name="github">
      </label>
      <br>
      <input type="submit" value="Add Student">
  </form>

</body>
</html>