<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form action="/madlib">
    Name a person
    <input type="text" name="person">
    <br>
    Name a color:
    <select name="color">
        <option value="fuschia">Fushia</option>
        <option value="salmon">Salmon</option>
        <option value="rainbow">Rainbow</option>
    </select>
    <br>
    Name a noun
    <input type="text" name="noun">
    <br>
    Name an adjective
    <select name="adjective">
        <option value="curly">Curly</option>
        <option value="stinky">Stinky</option>
        <option value="pink eyed">Pinkeye</option>
    </select>
    <br>
    <input type="submit">
</form>
</body>
</html>